.navItemContainer {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1.6rem;
  /* background-color: white; */
  /* margin-top: 3rem; */
  box-shadow: 4px 12px 15px -10px rgba(0, 0, 0, 0.3);
}

.titleDesc {
  margin-left: 1rem;
  font-family: Pacifico !important;
}

.linkStyles {
  width: 33%;
  flex-grow: 1;
  text-decoration: none !important;
  /* color: black !important; */
}
