.defaultContainer {
  margin: 0 1rem;
  border-radius: 0 !important;
  height: 30rem;
  display: flex;
  flex-direction: column;
  width: 30%;
  overflow: visible !important;
  justify-content: space-between;
  transition: 'transform 3s ease-in-out';
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900 !important;
}

.cardActions {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
}

.iconButtonText {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cost {
  margin-top: 0.5rem !important;
}

.cardText {
  font-weight: 600;
}

.root {
  maxwidth: 310;
}

.cardHovered {
  transform: scale3d(1.05, 1.05, 1) !important;
}
